@model ITITaskMVC.Models.ViewModels.CourseVM


<h2>Course Details</h2>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Description:</strong> @Model.Description</p>
<p><strong>Category:</strong> @Model.Category</p>
<p><strong>Start Date:</strong> @Model.startDate.ToShortDateString()</p>
<p><strong>End Date:</strong> @Model.endDate.ToShortDateString()</p>


