@model List<course>

@{
    var categories = ViewBag.Categories as IEnumerable<CategoryCourse>;
    var selectedCategory = ViewBag.SelectedCategory as CategoryCourse?;
}

<h2>Courses</h2>

<form method="get" asp-action="Index">
    <select name="category" onchange="this.form.submit()">
        <option value="">-- All Categories --</option>
        @foreach (var cat in categories)
        {
            <option value="@cat" selected="@(selectedCategory == cat)">
                @cat
            </option>
        }
    </select>
</form>


<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td>@course.Description</td>
                <td>@course.Category</td>
                <td>@course.startDate</td>
                <td>@course.endDate</td>
                <td>@(course.IsActive)</td>
                <td><a asp-action="GetById" asp-route-id="@course.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>
